<div id='mnulft' style="margin:30px">
  <div class="formtools">Form Components</div>
  <div class="components" id="formcmps">
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="tab" class="toolbox">
      <tr>
        <td width="20" style="background:url(/awmdata/mnutmpl/table.png) center no-repeat">&nbsp;</td>
        <td>Table</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="txt" class="toolbox">
      <tr>
        <td width="20" style="background:url(/awmdata/mnutmpl/textfield.png) center no-repeat">&nbsp;</td>
        <td>Text Field</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="tar" class="toolbox">
      <tr>
        <td width="20" style="background:url(/awmdata/mnutmpl/textarea.png) center no-repeat">&nbsp;</td>
        <td>Text Area</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="cmb" class="toolbox">
      <tr>
        <td width="20" style="background:url(/awmdata/mnutmpl/select.png) center no-repeat">&nbsp;</td>
        <td>Drop Down</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="rad" class="toolbox">
      <tr>
        <td width="20" style="background:url(/awmdata/mnutmpl/radio.png) center no-repeat">&nbsp;</td>
        <td>Radio Button</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="chk" class="toolbox">
      <tr>
        <td width="20" style="background:url(/awmdata/mnutmpl/checkbox.png) center no-repeat">&nbsp;</td>
        <td>Check Box</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="lbl" class="toolbox">
      <tr>
        <td width="20" style="background:url(/awmdata/mnutmpl/label.png) center no-repeat">&nbsp;</td>
        <td>Label</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="img" class="toolbox">
      <tr>
        <td width="20" style="background:url(/awmdata/mnutmpl/image.png) center no-repeat">&nbsp;</td>
        <td>Image</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="fil" class="toolbox">
      <tr>
        <td width="20" style="background:url(/images/icons/page_white_add.png) center no-repeat">&nbsp;</td>
        <td>File</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="doc" class="toolbox">
      <tr>
        <td width="20" style="background:url(/images/icons/page_link.png) center no-repeat">&nbsp;</td>
        <td>Document Link</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="dbf" class="toolbox">
      <tr>
        <td width="20" style="background: url(/images/icons/database_link.png) center no-repeat">&nbsp;</td>
        <td>Database Field</td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0" draggable="true" ondragstart="drag(event)" id="hor" class="toolbox">
      <tr>
        <td width="20" style="background:url(/awmdata/mnutmpl/horule.png) center no-repeat">&nbsp;</td>
        <td>Horizontal Line</td>
      </tr>
    </table>
  </div>
</div>